*{
    margin: 0;
    padding: 0;
}
a{
    text-decoration: none;
}
ul li{
    list-style: none;
}
h1,h2,h3,h4,h5,h6{
    margin: 0;
    padding: 0;
}

body {
    margin:3px 0px 5px 5px;
    background-color: #EEEEEE;
}
.header_part{
    background: #a29bfe;
}





.form_part{
    margin: 70px auto;
    border: 1px solid gray;
    width: 80%;
    padding: 40px 20px;
    box-shadow: 2px 0px 13px -1px #000000;
}
.form_part form{
    width: 50%;
    margin: 0 auto;
}
.form_part form table tr td{
    padding: 5px 20px;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 12px;
    color: #000000;
    font-weight: bold;
}
.form_part form input, select{
    width: 200px;
    padding: 3px;
    background-color: #F4F0F2;
    border: 1px solid #999;
    border-radius: 2px;
}
.form_part form table tr td button{
    border: 1px solid black;
    padding: 1px 6px;
    border-radius: 2px;
    font-size: 12px;
}

footer{
    background: #a29bfe;
}
footer h2{
    font-size: 15px;
    padding: 20px 10px;
}

